.articlesWrap {
  margin-bottom: 1rem;
}

.articleWrap {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
  height: 150px;
}
.image {
  width: 300px !important;
  height: 300px !important;
}

.image > span > img {
  object-fit: cover;
}

.articleTitle {
  margin: 0;

  font-weight: 200;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.articleLink {
  display: contents;
}

@media (max-width: 600px) {
  .articlesWrap,
  .articleWrap {
    width: 100%;
    flex-direction: column;
  }
  .articleTitle {
    margin: 1rem 0;
    font-size: 1.2rem;
  }
  .image {
    width: 100% !important;
    height: 100% !important;
  }
}
