.theme {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #3f4871;
  text-transform: uppercase;
  margin: 2rem 0;
  width: 50%;
  cursor: pointer;
}

.theme:hover {
  color: #222845;
}