.tagPageWrap {
  padding: 1.2rem;
  margin-top: 3rem;
}

.tagHeading {
  font-size: 22px;
  font-weight: 200;
  line-height: 37px;
  color: #3F4871;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
  font-weight: 600;
  background: #a6e1fa;
  display: inline-block;
  padding: 0 .8rem;
}